@import "tailwindcss";

:root {
  --background: #F7F6F6;
  --foreground: #8E8E93;
  --foreground-disabled: #D7D7DB;
  --card-background: #FFFFFF;
  --card-foreground: #121212;
  --button-background: #EE585A;
  --button-foreground: #FEFEFE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #636366;
    --foreground-disabled: #636366;
    --card-background: #2C2C2E;
    --card-foreground: #FEFEFE;
    --button-background: #EE585A;
    --button-foreground: #FEFEFE;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-disabled: var(--foreground-disabled);
  --color-card-background: var(--card-background);
  --color-card-foreground: var(--card-foreground);
  --color-button-background: var(--button-background);
  --color-button-foreground: var(--button-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
