@import "tailwindcss";

:root {
  --background: #F7F6F6;
  --foreground: #121212;
  --card-background: #FFFFFF;
  --card-foreground: #121212;
  --primary: #EE585A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #FEFEFE;
    --card-background: #2C2C2E;
    --card-foreground: #FEFEFE;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-background: var(--card-background);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
